{% extends "base.html" %} 
{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="">
  <div class="row">
    <div class="col-sm-6 login-section-wrapper">
      <div class="login-wrapper my-auto">
        <h1 class="login-title">Register Here</h1>
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            {% render_field user_form.username class='form-control' placeholder='username' %}
          </div>
          <div class="form-group mb-4">
            {% render_field user_form.email class='form-control' placeholder='enter your email' %}
          </div>
          <div class="form-group mb-4">
            {% render_field user_form.first_name class='form-control' placeholder='enter your First Name' %}
          </div>
          <div class="form-group mb-4">
            {% render_field user_form.password class='form-control' placeholder='enter your preferred password' %}
          </div>
          <div class="form-group mb-4">
            {% render_field user_form.password2 class='form-control' placeholder='confirm password' %}
          </div>
          <button type="submit" id="login" class="btn btn-block login-btn">Submit</button>
          {{form.errors}}
        </form>
        <p class="login-wrapper-footer-text">Already have an account? <a href="{% url 'login' %}" class="text-reset">Login here</a></p>
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img src="{% static 'assets/images/login.jpg' %}" alt="login image" class="login-img">
    </div>
  </div>
</div>
{% endblock %}
